{% extends "/template/auth.twig" %}
{% block title %}Login{% endblock %}
{% block body_content %}

     <form action="{{ path_for('auth.signin') }}" class="form-signin" method="post">
        <div class="text-center mb-4">
            <img class="mb-4 img-profile" src="{{ base_url() }}/assets/img/aasumitro.png" alt="" width="75" height="75">
            <h1 class="h3 mb-3 font-weight-normal">Private Area</h1>
            <p>
                Are you <a href="https://twitter.com/aasumitro" target="_blank">@aasumitro</a>?, no?! <br> go back
                 <a href="/">Home</a> you are <code>drunk!</code> {#, if you have any questions just get in touch with <a href="mailto:aasumitro@merahputih.id">me</a>. #}
            </p>
        </div>
        <div class="form-label-group">
            <input type="email" class="form-control {{ errors.email ? 'is-invalid' : ''}} " id="email" name="email" aria-describedby="emailHelp" placeholder="you@domain.id" value="{{ old.email }}" required autofocus>
            <label for="email">Email</label>
            {% if errors.email %}
                <small id="emailHelp" class="form-text text-muted text-success">
                    {{ errors.email | first }}
                </small>
            {% endif %}
        </div>
            <div class="form-label-group">
                <input type="password" class="form-control {{ errors.password ? 'is-invalid' : ''}}" id="password" name="password" placeholder="Password" required>
                <label for="password">Password</label>
                {% if errors.password %}
                    <small id="usernameHelp" class="form-text text-muted text-success">
                        {{ errors.password | first }}
                    </small>
                {% endif %}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            {{ csrf.field | raw }}
            {% include '/template/partials/flash.twig' %}

        </form>

{% endblock %}