<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Agus, Adhi, Sumitro, Profile, Personal Website, aasumitro">
        <meta name="author" content="Agus Adhi Sumitro">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>@{{ setting.site_name }} | Back-Office[{% block title %}{% endblock %}]</title>

        {# Fonts  #}
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
        {# Favicon  #}
        <link rel="icon" href="{{ base_url() }}/assets/img/favicon.png" type="image/x-icon">
        {# Styles #}
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/dash.css"  type="text/css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/switch.css"  type="text/css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/tags.css"  type="text/css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/image-picker.css"  type="text/css">
        {# Bootsrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">
        {# Fontawesome #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <!-- Include Quill -->
        <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
        {# animate css #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    </head>

    <body>

        {% include '/template/partials/dashboard-toolbar.twig' %}
        <div class="container-fluid">
            <div class="row">
                {% include '/template/partials/dashboard-sidebar.twig' %}
                {% block body_content %}{% endblock %}
            </div>

            {% include '/dashboard/dialog/dialog-logout.twig' %}
            {% include '/dashboard/dialog/dialog-setting.twig' %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>

         <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

        <!-- Include the Quill library -->
        <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>

        <script>
            var quill = new Quill('#quill-container', {
                modules: {
                    toolbar: [
                        [{ header: [1, 2, false] }],
                        ['bold', 'italic', 'underline'],
                        ['image', 'code-block']
                    ]
                },
                scrollingContainer: '#scrolling-container',
                placeholder: 'Uraikan maksud dan tujuan anda disini . . . . ',
                theme: 'bubble'
            });
            function setDiscussionBody(){
                document.getElementById('bodyDiscussion').value = quill.root.innerHTML;
            }
        </script>

        {# <script src="{{ base_url() }}/assets/js/tags.js"></script> #}
        {# <script type="text/javascript">
            $(document).ready(function() {
                var jsonData = [];
                {% if tag_list is defined  %}
                    var tagData = JSON.parse('{{ tag_list|raw}}');
                    if (tagData) {
                        for(var i = 0; i < tagData.length; i++) jsonData.push({id:tagData[i].id, name:tagData[i].title});
                        var tagData = $('#tagData').tagSuggest({
                            data: jsonData,
                            sortOrder: 'name',
                            maxDropHeight: 200,
                            name: 'tagData'
                        });
                    }
                {% endif %}
            });
        </script> #}

        <script src="{{ base_url() }}/assets/js/img.js"></script>
        <script src="{{ base_url() }}/assets/js/image-picker.min.js"></script>

        <script type="text/javascript">
            jQuery("select.image-picker").imagepicker({ hide_select: false });
            jQuery("select.image-picker.show-labels").imagepicker({
                hide_select: false,
                show_label: true,
            });
            jQuery("select.image-picker.limit_callback").imagepicker({
                limit_reached: function() { alert('We are full!') },
                hide_select: false
            });
            var container = jQuery("select.image-picker.masonry").next("ul.thumbnails");
            container.imagesLoaded(function() { container.masonry({ itemSelector: "li" }); });
        </script>


    </body>

</html>