<!-- Modal -->
<div class="modal fade" id="projectAddDialog" tabindex="-1" role="dialog" aria-labelledby="projectAddDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="POST" action="{{ path_for('dashboard.project.create') }}" enctype="multipart/form-data">
            <div class="modal-header" >
                <h5 class="modal-title" id="projectAddDialogLabel">Add new Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="titleProject"><b>Title</b></label>
                    <p for="titleProject">Berikan judul yang mengambarkan project ini! <i class="fa fa-info-circle" style="color:firebrick" data-toggle="tooltip" data-placement="top" title="Beri judul"></i></p>
                    <input type="text" class="form-control" name="titleProject" id="titleProject" placeholder="Title" required autofocus>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="categoryProject"><b>Category</b></label>
                            <p for="categoryProject">Pilih kategori yang tepat, untuk mempermudah penyorotan! <i class="fa fa-info-circle" style="color:firebrick" data-toggle="tooltip" data-placement="top" title="pilih category"></i></p>
                            <select name="categoryProject[]" class="selectpicker" multiple data-live-search="true"  data-width="100%">
                                {% for category in category_list %}
                                    <option value="{{ category.id }}" {{ category.id == 1 ? 'selected' : '' }} >{{ category.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="tagProject"><b>Tag</b></label>
                            <p for="tagProject">Masukkan beberapa kata kunci, untuk mempermudah penyorotan! <i class="fa fa-info-circle" style="color:firebrick" data-toggle="tooltip" data-placement="top" title="pilih tag"></i></p>
                            {# <input id="tagData" style="width:350px;" type="text" name="tagProject" placeholder="Tag" required/>
                            <div style="clear:both;"></div> #}

                             <select name="tagProject[]" class="selectpicker" multiple data-selected-text-format="count > 3" data-live-search="true"  data-width="100%" data-actions-box="true">
                                {% for tag in tag_list %}
                                    <option value="{{ tag.id }}" {{ tag.id == 1 ? 'selected' : '' }}  data-content="<span class='badge badge-secondary'>{{ tag.title }}</span>">{{ tag.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descriptionProject"><b>Description</b></label>
                    <p for="descriptionProject">Deskripsikan project secara garis besar (singkat, padat, jelas)! <i class="fa fa-info-circle" style="color:firebrick" data-toggle="tooltip" data-placement="top" title="Beri deskripsi"></i></p>
                    <label for="descriptionProject"></label>
                    <input type="text" class="form-control" id="descriptionProject" name="descriptionProject" placeholder="Description" required>
                </div>
                <div class="form-group">
                    <label for="githubLinkProject"><b>Github</b></label>
                    <p for="githubLinkProject">Masukkan link external <i>*jika ada</i> </p>
                    <input type="text" class="form-control" id="githubLinkProject" name="githubLinkProject" placeholder="External link " >
                </div>
                <div class="form-group">
                    <label for="webLinkProject"><b>Web Link</b></label>
                    <p for="webLinkProject">Masukkan link external <i>*jika ada</i> </p>
                    <input type="text" class="form-control" id="webLinkProject" name="webLinkProject" placeholder="External link " >
                </div>
                <div class="form-group">
                    <label for="playStoreLinkProject"><b>Play Store</b></label>
                    <p for="playStoreLinkProject">Masukkan link external <i>*jika ada</i> </p>
                    <input type="text" class="form-control" id="playStoreLinkProject" name="playStoreLinkProject" placeholder="External link " >
                </div>
                <div class="form-group">
                    <label for="appStoreLinkProject"><b>App Store</b></label>
                    <p for="appStoreLinkProject">Masukkan link external <i>*jika ada</i> </p>
                    <input type="text" class="form-control" id="appStoreLinkProject" name="appStoreLinkProject" placeholder="External link " >
                </div>
                <div class="form-group">
                    <label for="userGuideLinkProject"><b>User Guide</b></label>
                    <p for="userGuideLinkProject">Masukkan link external <i>*jika ada</i> </p>
                    <input type="text" class="form-control" id="userGuideLinkProject" name="userGuideLinkProject" placeholder="External link " >
                </div>
                <div class="row">
                    <div class="col-8">
                        <label for="projectLogo"><b>Logo</b></label>
                        <p for="projectLogo">Tambahkan logo project <i>*jika ada</i> <i class="fa fa-info-circle" style="color:firebrick" data-toggle="tooltip" data-placement="top" title="Upload dari komputer atau pilih dari gallery"></i></p>

                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-gallery-tab" data-toggle="pill" href="#pills-gallery" role="tab" aria-controls="pills-gallery" aria-selected="true">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-upload-tab" data-toggle="pill" href="#pills-upload" role="tab" aria-controls="pills-upload" aria-selected="false">Upload</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade  show active" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab">
                                <select class="image-picker show-html"  name="logoFromGallery" >
                                    <option data-img-src='http://placekitten.com/220/200' value='1'>Cute Kitten 1</option>
                                    <option data-img-src='http://placekitten.com/180/200' value='2'>Cute Kitten 2</option>
                                    <option data-img-src='http://placekitten.com/130/200' value='3'>Cute Kitten 3</option>
                                    <option data-img-src='http://placekitten.com/270/200' value='4'>Cute Kitten 4</option>
                                </select>
                            </div>
                            <div class="tab-pane fade text-center" id="pills-upload" role="tabpanel" aria-labelledby="pills-upload-tab">
                                <label for="projectLogo">
                                    <input type="file" name="projectLogo" id="projectLogo" style="display:none;" onchange="readIMG01(this);"/>
                                    <img id="img01" name="img01" src="{{ base_url() }}/assets/img/add-img.svg"  class="img-thumbnail rounded" width="270px" height="270px"/>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="statusProject"><b>Status</b></label>
                            <p for="statusProject">Pilih status kontent baru ini! <i class="fa fa-info-circle" style="color:firebrick" data-toggle="tooltip" data-placement="top" title="Draft, Publish, Featured"></i></p>
                            <select class="form-control" id="statusProject" name="statusProject">
                                <option value="0">Draft</option>
                                <option value="1">Publish</option>
                                <option value="2">Featured</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
                <input type="hidden" name="author" id="author" value="{{ auth.user.id }}" />
                {{ csrf.field | raw }}
            </div>
        </form>
    </div>
  </div>
</div>